/* question item */
.question__container {
    letter-spacing: 0.1em;
    font-family: "Dancing Script", cursive;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px;
    background-color: transparent;
    /* Default container background */
    border-top: 1px solid #e0e0e0;
    transition: background-color 0.3s ease;
    /* Smooth transition */
    cursor: pointer;
  }
  
  .question__container:hover {
    background-color: #f5f5f5;
    /* Background color on hover */
  }
  
  .user__and__question {
    display: flex;
    align-items: baseline;
    width: 93%;
  }
  
  .user__info {
    display: flex;
    align-items: start;
    flex-direction: column;
    min-width: 20%;
  }
  
  .user__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    background-color: #fff;
    border-radius: 50%;
    border: 0.7px solid #022553;
    transition: background-color 0.3s ease;
  }
  
  .user__icon svg {
    font-size: 50px;
    color: #022553;
    transition: color 0.3s ease;
  }
  
  .question__container:hover .user__icon {
    background-color: #022553;
  }
  
  .question__container:hover .user__icon svg {
    color: #fff;
  }
  
  .user__details {
    margin-left: 10px;
  }
  
  .user__email {
    font-size: 14px;
    color: #022553;
    /* Default email color */
    font-style: italic;
    margin-top: 15px;
  }
  
  .user__question {
    font-size: 16px;
    font-weight: bold;
    color: #022553;
    /* Default question color */
  }
  
  .bold__arrow {
    font-size: 34px;
    color: #022553;
    position: absolute;
    /* Default arrow color */
    transition: transform 0.3s ease;
  }
  
  .question__container:hover .bold__arrow {
    transform: translateX(15px);
  }
  
  @media (max-width: 765px) {
    .question__header {
      flex-direction: column;
      align-items: flex-start;
      gap: 15px;
    }
  
    .user__and__question {
      flex-direction: column;
    }
  }
  